body {
  margin: 0;
  background: linear-gradient(#ff5fa2, #ff9fcf);
  height: 100vh;
  overflow: hidden;
  text-align: center;
  color: white;
  font-family: Arial;
}

h2 { margin: 10px 0; }

#hud { font-size: 14px; margin-bottom: 8px; }

#startBtn {
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  color: #ff2d7a;
  font-weight: bold;
  cursor: pointer;
}

#gameArea {
  position: relative;
  width: 100%;
  height: 100%;
}

.heart {
  position: absolute;
  cursor: pointer;
  animation: fall linear forwards;
  user-select: none;
  touch-action: manipulation;
  width: 60px;
  height: 60px;
}
.heart-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  pointer-events: none;
}


.glow {
  box-shadow: 0 0 20px yellow, 0 0 40px gold;
  border-radius: 50%;
}

@keyframes fall {
  from { top: -70px; }
  to { top: 100vh; }
}

#loveText {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 30px;
  pointer-events: none;
}
.showLove { animation: pop 1s forwards; }
@keyframes pop {
  0% { transform: translate(-50%, -50%) scale(0); opacity: 0; }
  50% { transform: translate(-50%, -50%) scale(1.3); opacity: 1; }
  100% { transform: translate(-50%, -50%) scale(1); opacity: 0; }
}

#hint {
  position: fixed;
  bottom: 80px;
  width: 100%;
  font-size: 16px;
  opacity: 0;
}
.showHint { animation: hint 1.5s; }
@keyframes hint {
  0% { opacity: 0; }
  30% { opacity: 1; }
  100% { opacity: 0; }
}

#endPopup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  flex-direction: column;
}
#endPopup h1 { margin: 0; }
